.background-image {
  border-top: 1px solid #d1d1d1;
  background: #555 url("../assets/background.png") repeat scroll 0% 0%;
  color: #535353;
}
hr.new2 {
  border-top: 1px dashed #1f9cc4;
  width:85%;
  margin-bottom:-0px;


}
ul,
ol {
    margin: 0;
    padding: 0;
}
.log{
margin-left: -45%;
text-decoration: none;
}

.header_agileits_left ul li,
.header_agileits_left ul li a {
    display: inline-block;
    font-size: 15px;
    color: #000;
    letter-spacing: 1px;
}

.header_agileits_left ul li i,
.header-loginw3ls i {
    color: #1f9cc4;
}

.header_right a {
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
}

.header-loginw3ls a:hover {
    color: #1f9cc4;
    text-decoration: none;
}

.w3social-icons ul li {
    display: inline-block;
}

.w3social-icons ul li a {
    color: #000;
    font-size: 18px;

}
.w3social-icons ul li a:hover {
    color: #1f9cc4;
}

@media(max-width: 480px) {
    
    .w3social-icons-footer ul li a {
        font-size: 16px;
        width: 40px;
        height: 40px;
    }
    
}


@media(max-width: 414px) {
    .w3social-icons ul li a {
        font-size: 16px;
    }
  
}

@media(max-width: 384px) {
  
    .w3social-icons {
        padding: 0 .5em;
    }
   
    .w3social-icons-footer ul li a {
        font-size: 15px;
        width: 37px;
        height: 37px;
    }
    
}

@media(max-width: 375px) {
  
    .w3social-icons-footer ul li a {
        font-size: 17px;
        width: 43px;
        height: 43px;
    }
  
}

@media(max-width: 320px) {
    
    .w3social-icons {
        flex: 100%;
        max-width: 100%;
    }
   
    .w3social-icons-footer ul li a {
        font-size: 14px;
        width: 37px;
        height: 37px;
    }
   
}

