.heading{
    color:red;
}
.brandsName{
    text-align: center;
    margin-top:20px;
    font-size: 40px;
}
.top-brand{
 background-color: #fff;
}
.containerss{
    width: auto;
    height: auto;
}
.top-brand-wrap{
background-color:#fff;
display:flex;
flex-wrap: wrap;
padding:40px 0;
}

.top-brand-box{
background-color: #fff;
width:16%;
margin:0 auto;
padding:10px;
}
.top-brand-box img{
    opacity:0.5;
    width:100%;
    height:auto
}
.top-brand-box img:hover{
    opacity:5;

}